body {
  margin: 0;
  background-image: url(./arvore.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-position: left;
  background-size: cover; 
}

h1, p {
  color: rgb(36, 63, 27);
}
